* {
    margin: 20px 5px;
    padding: 0; 
    max-width: 100%;   
}

body {
    background-color: #396298;
}

.grey {
    background-color: rgb(214, 214,214);
}

.white {
    background-color: snow;
}

.logo {
    height: 100%;
    width: auto;
    margin-top: 25px;
}
  
.logo-row {
    height: 75px;
    text-align: left;
    margin-left: 50px;
}

.main-nav {
    margin-top: 35px;
    float: right;
    list-style: none;
    margin-right: 50px;
}
  
.main-nav li {
    display: inline-block;
    margin-left: 40px;
    
}
  
.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
  
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #2487c9;
}

.new-task {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.form {
    border-radius: 12px;
    border: 2px solid #73AD21;
    padding: 15px;
    width: 400px;
    height: 15px;
}

button {
    background-color: #3498db; 
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.sub-container {
    padding: 20px;
    min-height: 500px;
    border-radius: 20px;
}

.item {
    padding: 5px;
    min-height: 20px;
    border-radius: 5px;
}
